@{
    ViewData["Title"] = "Signup Completed";
}

<div class="layout">
    <div class="light-overlay">
        <div class="complete-signup-content text-center">
            <span class="text-primary" style="font-size: 4em;">
                <em class="far fa-check-circle"></em>
            </span>            
            <h1 class="my-3 text-primary">
                SIGNUP COMPLETE
            </h1>
            <p class="lead text-primary">
                Signup completed successfully!
            </p>
            <p class="lead text-secondary">
                Click <a asp-controller="Accounts" asp-action="SignIn">HERE</a>&nbsp;to signin into Cognito.
            </p>
            <hr class="complete-signup my-5" />
        </div>
    </div>
</div>