@{
   ViewData["Title"] = "Page Not Found";
}

<div class="container">
    <div class="text-center my-5">
        <div style="line-height: 100px;" class="text-danger">
            <span class="display-2 font-weight-bold" style="vertical-align: middle">4</span>
                <em class="fas fa-surprise fa-4x" style="vertical-align: middle"></em>
            <span class="display-2 font-weight-bold" style="vertical-align: middle">4</span>
        </div>
        <div class="display-4 my-5 text-danger">Page Not Found</div>
        <p class="lead">
            The page you are looking for cannot be found. Go home by <a asp-controller="Home" asp-action="Index" class="text-primary">clicking here</a>
        </p>
    </div>
</div>