@{
    ViewData["Title"] = "Dashboard";
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Amazon.Extensions.CognitoAuthentication
@inject UserManager<CognitoUser> UserManager

<div class="jumbotron">
    <h1 class="display-4">Hello @User.Identity.Name!</h1>
    <p class="lead">You have successfully signed in using ASP.NET Core Identity and AWS Cognito</p>
    <hr class="my-4">
    <p>To learn more about Amazon Cognito, try the following links:</p>
    <p>
        <ul>
            <li><a href="https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.html">What is Amazon Cognito?</a></li>
            <li><a href="https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools.html">Amazon Cognito User Pools</a></li>
        </ul>
    </p>
</div>